name: Changeset Check

on:
  pull_request:

jobs:
  changeset:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm ci

      - run: git fetch origin master:refs/remotes/origin/master

      - run: npx changeset status --since=origin/master
